<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">

    <thead class="oeTH">
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Status</th>
            <!--<th>ID</th>-->
        </tr>
    </thead>

    <tbody *ngFor="let i of questions | paginate: {itemsPerPage: 5,currentPage: page} ">
        <tr>
            <!--<td>{{i.questionId}}</td>-->
            <td>{{i.title}}</td>
            <td>{{i.content}}</td>
            <td [ngClass]="{red: i.status === 'open', orange: i.status === 'picked-up', green: i.status === 'answered'}">{{i.status}}</td>
        </tr>
    </tbody>
</table>

<div class="has-text-centered">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
