<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Language</th>
            <th class="mdl-data-table__cell--non-numeric">Email</th>
        </tr>
    </thead>
    <tbody *ngFor="let user of pageData.rows | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: pageData.count, id: type}">
        <tr>
            <td>{{user.userId}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.language}}</td>
            <a href="mailto:{{user.email}}" target="_blank">
                <td class="mdl-data-table__cell--non-numeric"> {{user.email}}</td>
            </a>
        </tr>
    </tbody>
</table>
<pagination-controls class="has-text-centered" (pageChange)="onPageChange($event)" [id]="type"></pagination-controls>