md-card {
    margin: 0px auto;
    padding: 5px;
    width: 90%;
}

body {
    padding: 5px;
    background: #fafafa;
}

.mdl-data-table {
    table-layout: fixed;
    width: 60%;
    margin: 15px auto 15px 15px;
}

.mdl-data-table th,
.mdl-data-table td {
    text-align: left;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.mdl-data-table th {
    background: #19535c;
    color: white;
}

.mdl-data-table td {
    vertical-align: top;
}

.has-text-centered {
    margin: 50px;
    width: 50%;
    border: 1px solid #19535c;
    text-align: center;
    font-family: tahoma;
    size: 10px;
}