<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Type</th>
        </tr>
    </thead>
    <tbody *ngFor="let user of users | paginate: {itemsPerPage: 5, currentPage: page} ">
        <tr>
            <td>{{user.userId}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{user.firstName}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{user.lastName}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{user.type}}</td>
        </tr>
    </tbody>
</table>

<pagination-controls class="has-text-centered" (pageChange)="page = $event"></pagination-controls>