md-card {
    margin: 0px auto;
    padding: 5px;
    width: 90%;
}

body {
    padding: 5px;
    background: #fafafa;
}

.mdl-data-table {
    table-layout: fixed;
    width: 65%;
}

.mdl-data-table th,
.mdl-data-table td {
    text-align: left;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.mdl-data-table td {
    vertical-align: top;
}

.has-text-centered {
    margin: auto;
    width: 35%;
    border: 1px solid green;
    margin-top: 50px;
    padding: 5px;
    text-align: center;
    font-family: arial;
    font-size: 0.9em;
}