md-list {
    margin: 0px;
    padding: 0px;
}

.has-text-centered {
    margin: auto;
    width: 40%;
    border: 1px solid green;
    margin-top: 30px;
    padding: 5px;
    text-align: center;
    font-family: arial;
    font-size: 0.9em;
}
