<div>
    <md-tab-group>
        <md-tab label="All Users ({{allUsers.length}})">
            <app-users-tab [users]="allUsers"></app-users-tab>
        </md-tab>
        <md-tab label="Users ({{users.length}})">
            <app-users-tab [users]="users"></app-users-tab>
        </md-tab>
        <md-tab label="Administrators ({{admins.length}})">
            <app-users-tab [users]="admins"></app-users-tab>
        </md-tab>
        <md-tab label="Translators ({{translators.length}})">
            <app-users-tab [users]="translators"></app-users-tab>
        </md-tab>
        <md-tab label="Volunteers ({{volunteers.length}})">
            <app-users-tab [users]="volunteers"></app-users-tab>
        </md-tab>
    </md-tab-group>
</div>
