.has-text-centered {
    margin: auto;
    width: 35%;
    border: 1px solid green;
    margin-top: 50px;
    padding: 5px;
    text-align: center;
    font-family: arial;
    font-size: 0.9em;
}

md-card {
    margin: 10px;
}