md-card {
    margin: 0px auto;
    padding: 5px;
    width: 90%;
}

body {
    padding: 5px;
}

.mdl-data-table {
    table-layout: fixed;
    width: 95%;
    margin: 15px auto 15px 15px;
}

.mdl-data-table th,
.mdl-data-table td {
    text-align: left;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.mdl-data-table td {
    vertical-align: top;
}

.mdl-data-table__cell--non-numeric {
    width: 38%;
}

.red {
    color: red;
    font-weight: bold;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.mdl-data-table th {
    background: #19535c;
    color: white;
}

.has-text-centered {
    margin: 50px auto;
    width: 100%;
    text-align: center;
    font-family: tahoma;
}