<div>
    <md-tab-group>
        <md-tab label="All Questions ({{questions.length}})">
            <app-all-questions-tab [questions]="questions"></app-all-questions-tab>
        </md-tab>

        <md-tab label="Open ({{statusOpen.length}})">
            <app-questions-tab [questions]="statusOpen"></app-questions-tab>
        </md-tab>

        <md-tab label="PickedUp ({{statusPickedUp.length}})">
            <app-questions-tab [questions]="statusPickedUp"></app-questions-tab>
        </md-tab>

        <md-tab label="Answered ({{statusAnswered.length}})">
            <app-questions-tab [questions]="statusAnswered"></app-questions-tab>
        </md-tab>
    </md-tab-group>
</div>