.form {
    width: 50%;
    margin: 75px auto;
    padding: 25px;
    border: solid 1px #87c48e;
}

.form-full-width {
    width: 90%;
    margin: 10px;
}

.buttons {
    margin: 0 10px;
}

.invalidinput,
.unauthoriseduser {
    width: 90%;
    margin: 20px 10px;
    color: darkred;
    font: 13px;
}