md-toolbar {
    background: #87c48e;
    color: #19535c;
}

md-tab {
    background: white;
}

.mat-button {
    font-size: 16px;
    color: white;
}

h5 {
    text-align: center;
    color: gray;
    padding: 10px;
}

.spacer {
    width: 45%;
}

.copyright {
    color: #87c48e;
    float: right;
    font-size: 10px;
    margin: 5px auto;
}