<div>
    <md-toolbar>
        <span routerLink="/">Open Embassy Admin-Panel</span>
        <a md-button> </a>
        <span *ngIf="_auth.isLoggedIn()">Welcome {{user}}</span>
        <a md-button *ngIf="_auth.isLoggedIn()" routerLink="/users">Users</a>
        <a md-button *ngIf="_auth.isLoggedIn()" routerLink="/questions">Questions</a>
        <!--<a md-button *ngIf="!_auth.isLoggedIn()" routerLink="/login">login</a>-->
        <a md-button *ngIf="_auth.isLoggedIn()" (click)="logout()" [routerLink]="['/login']">Logout</a>  
    </md-toolbar>
    <div class="copyright">designed &amp; coded by HYF Class 7 @2017</div>
    <div style="height: 15px">
    </div>

    <div class="app-content">
        <h2></h2>
        <router-outlet></router-outlet>
    </div>
</div>
