<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">

    <thead *ngFor="let i of questions" [ngClass]="{redTH: i.status === 'open', orangeTH: i.status === 'picked-up', greenTH: i.status === 'answered'}">
        <tr>
            <th>ID</th>
            <th class="mdl-data-table__cell--non-numeric">Title</th>
            <th class="mdl-data-table__cell--non-numeric">Content</th>
        </tr>
    </thead>

    <tbody *ngFor="let i of questions">
        <tr>
            <td>{{i.questionId}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{i.title}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{i.content}}</td>
        </tr>
    </tbody>
</table>