<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">

    <thead *ngIf="pageData.count > 0" [ngClass]="{redTH: status === 'open', orangeTH: status === 'picked-up', greenTH: status === 'answered'}">
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Title</th>
            <th class="mdl-data-table__cell--non-numeric">Content</th>
            <th>ID</th>
        </tr>
    </thead>

    <tbody *ngFor="let question of pageData.rows | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: pageData.count}">
        <tr>
            <td class="mdl-data-table__cell--non-numeric">{{question.title}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{question.content}}</td>
            <td>{{question.questionId}}</td>
        </tr>
    </tbody>
</table>
<pagination-controls class="has-text-centered" (pageChange)="onPageChange($event)"></pagination-controls>
