/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~material-design-lite/material.css';
* {
    box-sizing: border-box;
}

body {
    padding: auto;
    margin: auto;
    max-width: 1024px;
}

.ngx-pagination li.current {
    background: #58bcb0;
}

footer {
    font-size: 11px;
    text-align: center;
    color: #58bcb0;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}