@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~material-design-lite/material.css';
* {
    box-sizing: border-box;
}

body {
    position: relative;
    padding: auto;
    margin: auto;
    max-width: 1024px;
}

.ngx-pagination li.current {
    background: #58bcb0;
}